@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts';

// 2. Importar componentes
@import 'components';


:root{
    --contenido:"headliners";
}

.artist-inner-wrapper{
    width: 100%;

    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:1rem;
}

.artist-outer-wrapper::before{
    content: var(--contenido);       
    display: none;   
}

.artist-outer-wrapper::after{    
    content: var(--contenido);     
    display: none;   
}

.artist-title{
    position:relative;
    z-index:2;
    display: table;
    height: 3rem;
}

.artist-title-text{
    font-size:0rem;
}

.artist-item{
    width: 100%;
    margin:1rem;
}

.artist-item-image{
    object-fit: contain;
    max-width: 100%;
}

.artist-item-image:hover{
    cursor: pointer;
}

.invisible{
    display:none !important;
}


.artist-overlay{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    z-index:10000;
    background-color:rgba(0,0,0,0.8);

    display:flex;
    justify-content: center;
    align-items: center;
}

.artist-overlay-btn-cerrar {
    position: absolute;
    top:1rem;
    right:1rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;

    background: rgba(0,0,0,0);
    border: 2px solid var(--main-color);
    color:var(--main-color);
    text-align: center;
    font-size:1.7rem;
    line-height: 1.2;
}

.artist-overlay-btn-cerrar:hover{
    cursor:pointer;
}

#artist-overlay-inner{
    overflow-y:auto;
    overflow-x:hidden;
    height:90vh;
    width:90%;
    background-color:black;
    padding:.5rem;
}

#artist-overlay-inner::-webkit-scrollbar{
    width: 5px;
}

#artist-overlay-inner::-webkit-scrollbar-track{
    background: black;
}

#artist-overlay-inner::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

#artist-overlay-inner > p {
    display:block;
    width:100%;    
    text-align: justify !important;
}

#artist-overlay-inner > p > img , #artist-overlay-inner > p > a > img  {
    width:100%;
}


.artist-full-lineup-wrapper{
    display: flex;
    justify-content: center;
}

.artist-full-lineup-imagen{
    width: 98%;
}

@media (min-width:599px){
    #artist-overlay-inner{
        width:79%;
    }

    .artist-item{
        width: 40%;
    }
}

@media (min-width:699px){
    #artist-overlay-inner{
        width:68%;
    }
}

@media (min-width:799px){
    #artist-overlay-inner{
        width:55%;
    }

    .artist-full-lineup-imagen{
        width: 88%;
    }
}

@media (min-width:999px){
    .artist-item{
        width: 30%;
    }

    #artist-overlay-inner{
        width:50%;
    }

    .artist-inner-wrapper{
        margin-top:2rem;
    }
    
    .artist-full-lineup-imagen{
        width: 78%;
    }
}

@media (min-width:1199px){
    
}