@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts';

:root{
    --contenido:"headliners";
}

.artist{

    &-wrapper{
        width: 100%;
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

    &-item{    
        display: flex;
        flex-direction: column;
        align-items: center;

        &__image{
            object-fit: contain;
            max-width: 100%;
            border-radius:50%;
            height: 250px;
            width: 250px;
            box-shadow: 0px 0px 5px 1px orange;
            transition: .6s;

            &:hover{
                cursor: pointer;
                box-shadow: 0px 0px 5px 5px orange;
            }
        }

        &__title{
            text-align: center;
            color:white;
        }
    }
}


.invisible{
    display:none !important;
}


.artist-overlay{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    z-index:10000;
    background-color:rgba(0,0,0,0.8);

    display:flex;
    justify-content: center;
    align-items: center;

    &__btn {
        position: absolute;
        top:1rem;
        right:1rem;
        border-radius: 50%;
        width: 36px;
        height: 36px;
    
        background: rgba(0,0,0,0);
        border: 2px solid var(--main-color);
        color:var(--main-color);
        text-align: center;
        font-size:1.7rem;
        line-height: 1.2;

        &:hover{
            cursor:pointer;
        }
    }

    &__inner{
        overflow-y:auto;
        overflow-x:hidden;
        height:90vh;
        width:90%;
        // background-color:black;
        padding:3rem;

        background: rgba( 25, 23, 23, 0.75 );
        box-shadow: 0 8px 32px 0 rgba(92, 61, 35, 0.37);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;

        &::-webkit-scrollbar{
            width: 5px;
        }
        
        &::-webkit-scrollbar-track{
            background: black;
        }
        
        &::-webkit-scrollbar-thumb{
            background: var(--main-color);
        }

        & > p {
            display:block;
            width:100%;    
            text-align: justify !important;

            img{
                width: 100%;
            }
        }
    }
}

.artist-full-lineup-wrapper{
    display: flex;
    justify-content: center;
}

.artist-full-lineup-imagen{
    width: 98%;
}

@media (min-width:599px){
    #artist-overlay-inner{
        width:79%;
    }
}

@media (min-width:699px){
    #artist-overlay-inner{
        width:68%;
    }
}

@media (min-width:799px){
    #artist-overlay-inner{
        width:55%;
    }

    .artist-full-lineup-imagen{
        width: 88%;
    }
}

@media (min-width:999px){
    #artist-overlay-inner{
        width:50%;
    }

    .artist-wrapper{
        margin-top:2rem;
    }
    
    .artist-full-lineup-imagen{
        width: 78%;
    }
}
